 .guardar-boton {
     text-align: center;
 }
 
 .limpiarCancelar-boton {
     margin-top: 15px;
 }
 
 .navbar,
 .cerrar-sesion-color:active {
     background-color: #ffe05d!important;
     color: black;
 }
 
 .negrita {
     color: #000000;
     font-weight: bold;
     font-size: medium;
     font-family: sans-serif;
 }